Tutorial: Create SDS from existing data set

The SPARC Dataset Structure (SDS) is a standardised method for organising files and metadata. 

# Before you start:
## Installing required modules

### TODO ###

# Creating SDS folder structure

In [10]:
## Initialise a dataset object
import sys
import os 
[sys.path.append(i) for i in ['.', '..']]

from sparc_me import Dataset

dataset = Dataset()

# Specify the SDS schema version to be created
version = "2.0.0"
dataset.load_from_template(version)

# Specify location to generate SDS structure
save_dir= "./tmp/template/"

#Creates SDS folder structure

dataset.set_dataset_path(save_dir)
dataset.save(save_dir)

## Transfering data into SDS structure

Now that there is a destination for the data to be transdered, it is time to transfer your existing data.

In [11]:
# Add a copy of the data from the specified path into the SDS folder structure
dataset.add_primary_data("C:/Users/micha/Documents/GitHub/sparc-me/test_data/sample1/raw", subject="subject-1", sample="sample-1", sds_parent_dir=save_dir, overwrite=True)
dataset.add_primary_data("C:/Users/micha/Documents/GitHub/sparc-me/test_data/sample2/raw", subject="subject-2", sample="sample-1", sds_parent_dir=save_dir, overwrite=True)
dataset.add_primary_data("C:/Users/micha/Documents/GitHub/sparc-me/test_data/sample3/raw", subject="subject-3", sample="sample-1", sds_parent_dir=save_dir, overwrite=True)

dataset.add_primary_data("C:/Users/micha/Documents/GitHub/sparc-me/test_data/sample1/raw", subject="subject-1", sample="sample-1", sds_parent_dir=save_dir, overwrite=True)
dataset.add_primary_data("C:/Users/micha/Documents/GitHub/sparc-me/test_data/sample2/raw", subject="subject-2", sample="sample-1", sds_parent_dir=save_dir, overwrite=True)
dataset.add_primary_data("C:/Users/micha/Documents/GitHub/sparc-me/test_data/sample3/raw", subject="subject-3", sample="sample-1", sds_parent_dir=save_dir, overwrite=True)

c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
c:\Users\micha\Documents\GitHub\sparc-me\examples\..\sparc_me\core\dataset.py:431: FutureWarning:The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.

# Editing the metadata
Now we can explore some of the meta data that was automatically generated as we were transfering files

In [12]:
category = "subjects"
metadata = dataset._dataset.get(category).get("metadata")
metadata

,subject id,pool id,subject experimental group,age,sex,species,strain,RRID for strain,age category,also in dataset,...,phenotype,handedness,reference atlas,experimental log file path,experiment date,disease or disorder,intervention,disease model,protocol title,protocol url or doi
0,subject-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,subject-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,subject-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,subject-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,subject-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,subject-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In this example, we now wish to add age information for the subjects.

In [13]:
# edit the age field of the listed subject
category = "subjects"
header = "age"
value = "42"
dataset.set_field(category, 2, header, 42)
dataset.set_field(category, 3, header, 25)
dataset.set_field(category, 4, header, 27)


# Save changes
dataset.save(save_dir)

# The result can now be seen 
metadata

,subject id,pool id,subject experimental group,age,sex,species,strain,RRID for strain,age category,also in dataset,...,phenotype,handedness,reference atlas,experimental log file path,experiment date,disease or disorder,intervention,disease model,protocol title,protocol url or doi
0,subject-1,NaN,NaN,42.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,subject-2,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,subject-3,NaN,NaN,27.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,subject-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,subject-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,subject-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

If the data meta data is incomplete for a given category, as below, then it is useful to be able to extract the rows that contain values.

In [14]:
header = "sex"
dataset.set_field(category, 2, header, "female")
dataset.set_field(category, 4, header, "female")
dataset.save(save_dir)
metadata

,subject id,pool id,subject experimental group,age,sex,species,strain,RRID for strain,age category,also in dataset,...,phenotype,handedness,reference atlas,experimental log file path,experiment date,disease or disorder,intervention,disease model,protocol title,protocol url or doi
0,subject-1,NaN,NaN,42.0,female,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,subject-2,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,subject-3,NaN,NaN,27.0,female,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,subject-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,subject-2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,subject-3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
condensed = metadata.dropna(subset=["sex"])
condensed

,subject id,pool id,subject experimental group,age,sex,species,strain,RRID for strain,age category,also in dataset,...,phenotype,handedness,reference atlas,experimental log file path,experiment date,disease or disorder,intervention,disease model,protocol title,protocol url or doi
0,subject-1,NaN,NaN,42.0,female,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,subject-3,NaN,NaN,27.0,female,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN